<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分页原理</title>
</head>
<body>
<% for(let i in data){%>
    <%=data[i].title%><br>
<%}%>
<a href="/article-detail/list-1.html">第一页</a>
<a href="/article-detail/list-2.html">2</a>
<a href="/article-detail/list-3.html">3</a>
<a href="/article-detail/list-4.html">4</a>
<a href="/article-detail/list-5.html">5</a>
<a href="/article-detail/list-6.html">6</a>
<a href="/article-detail/list-7.html">7</a>
修改后的文章列表页面！！！！！！！！！
</body>
</html>