<footer>
    <div class="footer-wrap">
        <section>
            <div class="footer-content">
                <div class="content-wrap">
                    <div class="friend-links"></div>
                    <div class="copyright">
                        Copyright &copy<span id="siteDate"></span> 无畏滴青春鄂ICP备16019423号
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/comm.js"></script>

