<footer>
    <div class="footer-wrap">
        <section>
            <div class="footer-content">
                <div class="content-wrap">
                    <div class="friend-links"></div>
                    <div class="copyright">
                        Copyright &copy<span id="siteDate"></span> 无畏滴青春鄂ICP备16019423号
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>
</div>
<script src="/js/plugin/ejs.min.js"></script>
<script type="text/javascript" src="/js/jquery.min.js?v=dd07e83ec0"></script>
<script src="/js/plugin/layer/layer.js"></script>
<script type="text/javascript" src="/js/comm.js?v=1d97920d4f"></script>
<script>
    $(function(){
        var time = new Date();
        var year=time.getFullYear();
        document.getElementById("siteDate").innerHTML = year;
        comm.nav();
        $('.tooltip').toolTip();
        //点击搜索
        $("#search-btn").click(function(e){
            e.stopPropagation();
            var $query = $("#query");

            if(!$query.hasClass("search")){
                $query.addClass("search");
            }
            if(!$query.is(":focus")){//判断元素是否获取焦点
                $query.focus();
            }

            //绑定全局的点击事件
            $(document).unbind("click.focus").bind("click.focus",function(e){
                if(!$(e.target).is(".search-input")){
                    if(!$(e.target).is("#waterMark")){
                        $("#waterMark").remove();
                        $query.attr("placeholder","搜索").val("").
                        removeClass("search-error search").blur();
                    }
                }
            });
            //绑定input的按钮事件
            $query.unbind("keydown").bind("keydown",function(e){
                if($("#waterMark").length > 0){
                    $("#waterMark").remove();
                    $query.attr("placeholder","搜索").val("").
                    removeClass("search-error");
                }
                if(e.which == 13){
                    e.preventDefault();
                    submitForm($query);
                    return false;
                }
            });

        });
        //提交表单
        var submitForm = function($query){
                var qVal = $query.val();
                if($.trim(qVal)){
                    var newQval = encodeURI(encodeURI(qVal));
                    window.location.href = '/search?search=' + newQval;
                    //$('#search').submit();
                }
                else {
                    $query.val("").addClass("search-error");
                    comm.waterMark();
                }
        };

        //绑定登录，注册的点击事件
        $('#login-top-btn,#reg-top-btn,.js_nologin_btn').click(function(e){
            var url = '',
                action = '',
                $target = $(this);
            e.preventDefault();
            action = $target.attr('href');
            url = comm.url.getCurrentUrl();
            window.location.href = action + '&returnurl=' + url;
        });
    });
</script>