<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="无畏滴青春">
    <meta name="Keywords" content="吴哲的个人博客、个人站点、个人网站、it技术、web前端技术、网站开发、html5、css3、node、javascript、js、vue、angular、react、react-native">
    <meta http-equiv ="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 不让百度转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!-- 搜索引擎抓取 -->
    <meta name="robots" content="index,follow"/>
    <!-- 网站图标 -->
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>无畏滴青春的博客</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/font/iconfont.css" />
</head>
<body>
<div class="container-top-wrap">
    <div class="head-wrap js_head_wrap">
        <div class="head clearfix">
            <span class="welcome">欢迎光临无畏滴青春个人网站!</span>
            <div class="login-reg-wrap">
                <% if(locals.login) {%>
                欢迎：
                <% if(locals.admin){%>
                管理员
                <%}%>
                <%=locals.login%>&nbsp;
                <% if(locals.admin){%>
                <a href="/admin" style="marign-left: 15px;color: #eee;">进入后台</a>
                <%}%>
                <a href="/logout" class="logout">退出</a>
                <%}else {%>
                <a href="/login?show=1" class="login-btn" id="login-top-btn">登录</a>
                <a href="/register?show=0" class="reg-btn" id="reg-top-btn">注册</a>
                <%}%>
            </div>
            <!--搜索 begin-->
            <div class="search-wrap">
                <ul class="search-ul clearfix">
                    <li class="search clearfix">
                        <i class="a-search iconfont icon-search tooltip" title="搜索文章" id="search-btn">搜索</i>
                        <form id="search" class="search-form" method="get" action="/search" >
                            <div class="query-wrap">
                                <input type="text" id="query" name="search" placeholder="搜索文章" class="search-input js_water_mark" />
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <!--搜索 end-->
        </div>
    </div>
</div>
<div class="background-container">
<!--头部begin-->
<header class="header-body-wrap">
    <div class="background-layer">
        <div class="site-description">
            <div class="type-print">
                <h1 class="site-title">
                    <a href="/" id="blog">
                        无畏滴青春个人网站
                    </a>
                </h1>
                <p class="site-care">
                    关注web前端技术！
                </p>
            </div>
        </div>
    </div>
</header>
<!--导航begin-->
<nav class="nav-body-wrap">
        <div class="nav-wrap">
            <ul class="nav" id="nav">
                <% let navs = locals.nav
                for(let i = 0,length = navs.length; i < length; i++) {
                    let n = navs[i];
                %>
                <li><a href="<%=n.url%>" title="<%=n.title%>"><%=n.title%></a></li>
                <%}%>
            </ul>
        </div>
</nav>
    <!--导航end-->
<!--头部end-->