<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/reg" method="post">
    <input type="text" name="name">
    <input type="text" name="pass">
    <input type="submit">
</form>

<form action="/reg" method="post">
    <input type="text" name="name" class="name">
    <input type="text" name="pass" class="pass">
    <input type="submit" id="postSubmit">
</form>
<script src="js/jquery.min.js"></script>
<script>
    $(function(){
        $("#postSubmit").click(function(e){
            e.preventDefault();
            $.ajax({
                url: '/reg',
                type: 'post',
                data: {
                    name: $('.name').val(),
                    pass: $('.pass').val()
                },
                success: function(data){
                    console.log(data);
                }
            });
        });
    });
</script>
</body>
</html>