<%include header.ejs%>
<link href="/css/index.css?v=44222178fe" rel="stylesheet" type="text/css">
<main>
    <div class="main clearfix">
        <div class="article-list-wrap js_list" id="articles">

        </div>
        <div id="pages"></div>
    </div>
</main>
<input type="hidden" value="<%=locals.type.topicid%>" id="topicid"/>
<input type="hidden" value="<%=locals.type.topicname%>" id="topicname"/>
<%include footer.ejs%>
<script type="text/javascript" src="/js/plugin/moment.js"></script>
<script type="text/template" id="template">
    <div class="pages clearfix">
        <ul class="page-wrap">
            <$
            //每页显示几条数据
            var  showPageNum = parseInt(pages.showPageNum),
            //总页数
            totalPage = Math.ceil(pages.allPageNum/showPageNum),
            //当前页
            currentPage = parseInt(pages.currentPage);
            if(totalPage > 1){
            $>

            <li class="page">
                <span><$= currentPage $>/<$= totalPage $></span>
            </li>

            <$ if(currentPage!== 1){ $>
            <li class="page" data-pagenum="<$= currentPage - 1 $>">
                <a href="javascript:void(0);">
                    <
                </a>
            </li>
            <$ } $>

            <$
            for(var i = 0;i < totalPage ;i++){
            //循环中的当前页码
            var loopPage = i + 1;
            $>

            <li class="page" data-pagenum="<$=loopPage$>">
                <a  <$ if(loopPage === currentPage) { $>
                class="active" href="javascript:void(0);"
                <$ } else { $>
                href="javascript:void(0);"
                <$ } $>
                >
                <$= loopPage $>
                </a>
            </li>

            <$}$>

            <$if(currentPage !== totalPage){$>

            <li class="page" data-pagenum="<$= currentPage + 1 $>">
                <a href="javascript:void(0);">
                    >
                </a>
            </li>
            <li class="page" data-pagenum="<$=totalPage$>">
                <a href="javascript:void(0);">尾页</a>
            </li>
            <$}$>
            <$}$>
        </ul>
    </div>
</script>
<script type="text/template" id="articleTmpl">
    <$if(data.pageData.length > 0){$>
    <h2 class="article-recommend" style="position: relative;padding: 10px;border-bottom: 1px solid #bbb;font-size: 16px;background: #fff;"><$-data.tl$></h2>
    <$} else {$>
      <p class="nodata">暂无数据</p>
    <$}$>
    <!--文章列表begin-->
    <$
       var i = 0,
           pagedata = data.pageData,
           length = pagedata.length;
       for(; i < length; i++){
          var data = pagedata[i];
    $>
    <section>
        <div class="article js_article" data-articleid ='<$=data.id$>'>
            <h2 class="article-title">
                <a href="/article-detail/<$=data.id$>.html" title="文章标题" class="js_article_title"><$=data.title$></a>
            </h2>
            <article>
                <div class="article-summary-wrap">
                    <div class="clearfix">
                        <$if(data.img){$>
                        <a href="/article-detail/<$=data.id$>.html" class="article-img-wrap">
                            <img src="<$=data.img$>" onerror="onerror=null;src='/image/zw.png'"  />
                        </a>
                        <$}$>
                        <p class="article-content">
                            <$=data.summery$>
                        </p>
                    </div>
                    <div class="read-more-wrap">
                        <a href="/article-detail/<$=data.id$>.html" class="read-more">阅读全文</a>
                    </div>
                </div>
            </article>
            <footer>
                <div class="article-footer-wrap">
                        <span>
                            <a href="javascript:void(0);" class="iconfont-wrap">
                                <i title="日期图标" class="iconfont icon-time"></i>
                                <time><$=moment(data.time).format('YYYY-MM-DD HH:mm:ss')$></time>
                            </a>
                        </span>
                    <span>
                                <a href="javascript:void(0);" class="iconfont-wrap">
                                    <i title="浏览量图标" class="iconfont icon-eye"></i>
                                    浏览<$=data.views|0$>次
                                </a>
                    </span>
                    <span>
                                <a href="javascript:void(0);" class="iconfont-wrap js_ding">
                                    <i title="顶一个图标" class="iconfont icon-ding" ></i>
                                    顶(<span class="js_ding_text"><$=data.ding|0$></span>)
                                </a>
                    </span>
                    <span>
                                <a href="javascript:void(0);" class="iconfont-wrap js_cai">
                                        <i title="踩一个图标" class="iconfont icon-iconfontcai js_cai"></i>
                                        踩(<span class="js_cai_text"><$=data.cai|0$></span>)
                                </a>
                    </span>
                    <span>
                                <a href="/article-detail/<$=data.id$>.html#commentsArea" class="iconfont-wrap">
                                    <i title="评论图标" class="iconfont icon-comments"></i>
                                    评论(<$=data.comment_count|0$>)
                                </a>
                    </span>
                    <!--分类-->
                    <span class="article-type">
                            分类:[<a href="/type/<$= data.typeid $>.html" class=""><$= data.typename $></a>]
                    </span>
                    <!--分类-->
                </div>
            </footer>
        </div>
    </section>
    <$ } $>
</script>
<script type="text/javascript">
    $(init);
    function init() {

        $('.js_list').css({width: "100%",float: "none"});
        var requestType = '<%=locals.type.typename%>';
        var action = null;
        if(requestType === 'type'){
            action = '/type';
        } else if(requestType === 'search') {
            action = '/search';
        } else if(requestType === 'tag'){
            action = '/tag';
        }else if(requestType === 'querybymonth') {
            action='/querybymonth';
        }
        //使用分页组件
        comm.page.init({
            url: action,
            container: 'pages',
            pageTmplId: 'template',
            dataTmplId: 'articleTmpl',
            dataId: 'articles',
            postData: {
                currentPage: 1,
                showPageNum: 10,
                topicid: parseInt($('#topicid').val()),
                topicname: $('#topicname').val()
            }
        });

        function handleClick() {
            var $target = $(this);
            var articleId = $target.closest('.js_article').data('articleid');
            ding($target,articleId);
        }
        $("#articles").on('click','.js_ding',handleClick);
        //顶的业务逻辑
        function ding($self,articleId) {
            comm.ajax.commAjax({
                url: '/ding',
                type: 'post',
                data: {id: articleId},
                errorFn: function(error){
                    comm.layer.msg('顶操作失败！');
                },
                successFn: function(data){
                    $self.find('.js_ding_text').text(data.dm[0].ding);
                }
            });

        }
        function handleCaiClick() {
            var $target = $(this);
            var articleId = $target.closest('.js_article').data('articleid');
            cai($target,articleId);
        }
        $("#articles").on('click','.js_cai',handleCaiClick);

        //踩的业务逻辑
        function cai($self,articleId) {
            comm.ajax.commAjax({
                url: '/cai',
                type: 'post',
                data: {id: articleId},
                errorFn: function(error){
                    comm.layer.msg('踩失败！');
                },
                successFn: function(data){
                    $self.find('.js_cai_text').text(data.c[0].cai);
                }
            });
        }
    };
    window._bd_share_config={
        "common":{
            "bdSnsKey":{},
            "bdText":"",
            "bdMini":"2",
            "bdPic":"",
            "bdStyle":"0",
            "bdSize":"24"
        },
        "share":{},
        "image":{
            "viewList":["qzone","tsina","tqq","renren","weixin"],
            "viewText":"分享到：",
            "viewSize":"16"
        }
    };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

</script>
</body>
</html>