@charset "utf-8";
body {
  color: #333;
  overflow-x: hidden;
  background: #f5e5c1 url(../image/bgimg_top.jpg) center top no-repeat;
  background-size: cover;
}
.head-wrap {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 42px;
  padding: 10px 0;
}
.head-wrap .head {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  line-height: inherit;
}
.head-wrap .login-reg-wrap {
  float: right;
}
.head-wrap .login-btn,
.head-wrap .reg-btn {
  padding: 5px 10px;
  background: #a98659;
  color: #fff;
}
.head-wrap .login-btn {
  color: #fff;
  background: rgba(201, 0, 0, 0.6);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari 和 Chrome */
  -o-transition: all 0.3s;
  /* Opera */
}
.head-wrap .login-btn:hover {
  background: #c90000;
}
.head-wrap .reg-btn {
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.3s;
  -moz-transition: background 0.3s;
  /* Firefox 4 */
  -webkit-transition: background 0.3s;
  /* Safari 和 Chrome */
  -o-transition: background 0.3s;
  /* Opera */
  margin: 0 0 0 10px;
}
.head-wrap .reg-btn:hover {
  background: #fff;
  color: #000;
}
.site-description {
  width: 1200px;
  margin: 0 auto;
  padding: 52px 0 0 0;
  position: relative;
}
.site-description .logo {
  position: absolute;
  left: 0;
  top: 52px;
  display: block;
  vertical-align: baseline;
}
.site-description .logo img {
  display: block;
}
.site-description .site-title {
  font-weight: normal;
  font-size: 16px;
}
.site-description .site-title a {
  color: #000;
  text-shadow: '#fff 1px 1px 1px';
}
.site-description .type-print {
  padding: 0 0 0 170px;
  height: 60px;
  margin: 0 0 0 20px;
}
.site-description .site-care {
  margin: 17px 0 0 0;
  color: #fff;
}
.nav-wrap {
  background: rgba(255, 255, 255, 0.2);
  margin: 25px 0 0 0;
  padding: 5px 0;
}
.nav {
  width: 1200px;
  margin: 0 auto;
}
.nav li {
  display: inline-block;
}
.nav li:first-child a {
  -webkit-border-radius: 50px 0;
  -moz-border-radius: 50px 0;
  border-radius: 50px 0;
  background: #E15782;
}
.nav li a {
  display: block;
  padding: 5px 20px;
  color: #fff;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari 和 Chrome */
  -o-transition: all 0.3s;
  /* Opera */
}
.nav li a:hover {
  -webkit-border-radius: 50px 0;
  -moz-border-radius: 50px 0;
  border-radius: 50px 0;
  background: #E15782;
}
.main {
  width: 1200px;
  margin: 15px auto 0;
}
.article-list-wrap {
  float: left;
  width: 802px;
  overflow: hidden;
}
.article-recommend {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #bbb;
  font-size: 16px;
}
.article-recommend:before {
  content: '';
  display: block;
  width: 5px;
  height: 60%;
  position: absolute;
  background: #E15782;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.article-recommend .highlight {
  color: #E15782;
}
.article {
  margin: 20px 0 0 0;
  padding: 20px;
  background: #f1f1f1;
}
.article .article-title {
  font-size: 16px;
  margin: 0 0 10px 0;
}
.article .article-title a {
  color: #272A30;
}
.article-summary-wrap {
  height: 200px;
}
.article-summary-wrap .article-img-wrap {
  display: block;
  width: 208px;
  height: 108px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
}
.article-summary-wrap .article-img-wrap img {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.article-summary-wrap .article-content {
  text-indent: 2em;
  line-height: 30px;
  font-size: 14px;
}
.article-summary-wrap .read-more {
  position: relative;
  top: -24px;
  float: right;
  display: block;
  color: #fff;
  background: rgba(225, 87, 130, 0.6);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari 和 Chrome */
  -o-transition: all 0.3s;
  /* Opera */
  padding: 5px 10px;
}
.article-summary-wrap .read-more:hover {
  background: #e15782;
}
.article-footer-wrap {
  margin: 15px 0 0 0;
}
.article-footer-wrap span:not(:last-child) {
  margin: 0 20px 0 0;
}
.article-footer-wrap .article-type {
  float: right;
}
.article-footer-wrap .article-type a {
  color: #666;
}
