@charset "utf-8";
.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon-diy {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  vertical-align: baseline;
}
.icon-black {
  background-color: #4C4B49;
}
.icon-red {
  background-color: #CD2B45;
}
.icon-green {
  background-color: #ADA30A;
}
.icon-orange {
  background-color: #F69523;
}
.icon-blue {
  background-color: #63B6F7;
}
.icon-gray {
  background-color: #B0AFAA;
}
.icon-default {
  background-color: #A2A2A2;
}
.h-style {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #bbb;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.5);
}
.h-style:before {
  content: '';
  display: block;
  width: 5px;
  height: 60%;
  position: absolute;
  background: #E15782;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.h-style .highlight {
  color: #E15782;
}
.title {
  margin: 0 0 20px 0;
}
.pl10 {
  padding-left: 10px;
}
.pr10 {
  padding-right: 10px;
}
.see-more {
  float: right;
  color: #525252;
}
.share-wrap {
  position: absolute;
  left: 384px;
  top: -8px;
}
body {
  color: #333;
  overflow-x: hidden;
  background: #f5e5c1 url(../image/bgimg_top.jpg) center top no-repeat;
  background-size: 100%;
}
/*=====头部 begin=====*/
.head-wrap {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 42px;
  padding: 10px 0;
}
.head-wrap .head {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  line-height: inherit;
}
.head-wrap .login-reg-wrap {
  float: right;
}
.head-wrap .login-btn,
.head-wrap .reg-btn {
  padding: 5px 10px;
  background: #a98659;
  color: #fff;
}
.head-wrap .login-btn {
  color: #fff;
  background: rgba(201, 0, 0, 0.6);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari 和 Chrome */
  -o-transition: all 0.3s;
  /* Opera */
}
.head-wrap .login-btn:hover {
  background: #c90000;
}
.head-wrap .reg-btn {
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.3s;
  -moz-transition: background 0.3s;
  /* Firefox 4 */
  -webkit-transition: background 0.3s;
  /* Safari 和 Chrome */
  -o-transition: background 0.3s;
  /* Opera */
  margin: 0 0 0 10px;
}
.head-wrap .reg-btn:hover {
  background: #fff;
  color: #000;
}
/*=====头部 end=====*/
/*=====导航 begin=====*/
.nav-wrap {
  background: rgba(255, 255, 255, 0.2);
  margin: 25px 0 0 0;
  padding: 5px 0;
}
.nav {
  width: 1200px;
  margin: 0 auto;
}
.nav li {
  display: inline-block;
}
.nav li:first-child a {
  -webkit-border-radius: 50px 0;
  -moz-border-radius: 50px 0;
  border-radius: 50px 0;
  background: #E15782;
}
.nav li a {
  display: block;
  padding: 5px 20px;
  color: #fff;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari 和 Chrome */
  -o-transition: all 0.3s;
  /* Opera */
}
.nav li a:hover {
  -webkit-border-radius: 50px 0;
  -moz-border-radius: 50px 0;
  border-radius: 50px 0;
  background: #E15782;
}
.site-description {
  width: 1200px;
  margin: 0 auto;
  padding: 52px 0 0 0;
  position: relative;
}
.site-description .logo {
  position: absolute;
  left: 0;
  top: 52px;
  display: block;
  vertical-align: baseline;
}
.site-description .logo img {
  display: block;
}
.site-description .site-title {
  font-weight: normal;
  font-size: 16px;
}
.site-description .site-title a {
  color: #000;
  text-shadow: #fff 1px 1px 1px;
}
.site-description .type-print {
  position: relative;
  padding: 0 0 0 170px;
  height: 60px;
  margin: 0 0 0 20px;
}
.site-description .site-care {
  margin: 17px 0 0 0;
  color: #fff;
}
/*=====导航 end=====*/
/*=====尾部 begin=====*/
.footer-wrap {
  border-top: 40px solid #f16e50;
  background: #141414;
}
.footer-wrap .content-wrap {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #f16e50;
  padding: 10px 0;
}
.footer-wrap .copyright {
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
}
/*=====尾部 end=====*/
.article-detail-content img {
  display: block;
  float: left;
  vertical-align: middle;
}
/*=====布局类 begin=====*/
.layer-wz {
  width: 1200px;
  margin: 0 auto;
}
.layer-left-wz {
  width: 840px;
  float: left;
  margin: 0 30px 0 0;
}
.layer-aside-wz {
  width: 300px;
  float: right;
}
/*=====布局类 end=====*/
.main {
  width: 1200px;
  margin: 15px auto 0;
}
.article-list-wrap {
  float: left;
  width: 862px;
  overflow: hidden;
}
.article {
  margin: 20px 0 0 0;
  padding: 20px;
  background: #f1f1f1;
}
.article .article-title {
  font-size: 16px;
  margin: 0 0 10px 0;
}
.article .article-title a {
  color: #272A30;
}
.article-summary-wrap {
  height: 200px;
}
.article-summary-wrap .article-img-wrap {
  display: block;
  width: 208px;
  height: 108px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
}
.article-summary-wrap .article-img-wrap img {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.article-summary-wrap .article-content {
  text-indent: 2em;
  line-height: 30px;
  font-size: 14px;
}
.article-summary-wrap .read-more {
  position: relative;
  top: 0;
  float: right;
  display: block;
  color: #fff;
  background: rgba(225, 87, 130, 0.6);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* Firefox 4 */
  -webkit-transition: all 0.3s;
  /* Safari 和 Chrome */
  -o-transition: all 0.3s;
  /* Opera */
  padding: 5px 10px;
}
.article-summary-wrap .read-more:hover {
  background: #e15782;
}
.article-footer-wrap {
  margin: 15px 0 0 0;
}
.article-footer-wrap span:not(:last-child) {
  margin: 0 20px 0 0;
}
.article-footer-wrap .article-type {
  float: right;
}
.article-footer-wrap .article-type a {
  color: #666;
}
.article-relation-wrap {
  width: 300px;
  float: right;
  margin: 0 0 0 38px;
}
.article-type-wrap .type {
  float: left;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  margin: 0 10px 10px 0;
  background: #71a532;
  color: #fff;
}
.article-type-wrap .type:nth-child(1) {
  background: #a98659;
}
.article-type-wrap .type:nth-child(2) {
  background: #8c49ad;
}
.article-type-wrap .type:nth-child(3) {
  background: #e7769e;
}
.article-type-wrap .type:nth-child(4) {
  background: #ff9900;
}
.article-type-wrap .type:nth-child(5) {
  background: #63B6F7;
}
.article-type-wrap .type a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.article-tags .tag {
  display: inline-block;
  padding: 6px 15px;
  color: #666;
  background: #fafafa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: outset 0 0 3px #bbb;
  /* 老的 Firefox */
  box-shadow: outset 0 0 3px #bbb;
  margin: 0 0 10px 0;
}
.article-hot-random .hot-random-wrap {
  padding-bottom: 20px;
}
.article-hot-random .hot-random-wrap i {
  vertical-align: baseline;
}
.article-hot-random .hot-random-wrap li {
  height: 36px;
  line-height: 36px;
}
.article-hot-random .hot-random-wrap a {
  color: #525252;
  margin: 0 0 0 10px;
}
.article-archive .archive-wrap {
  width: 297px;
}
.article-archive li {
  float: left;
  margin-bottom: 5px;
}
.article-archive li:not(:nth-child(3n)) {
  margin-right: 6px;
}
.article-archive li a {
  color: #525252;
}
