@charset "utf-8";
@import "icon.less";
//黑色主色调
@headerColor: #0D0D0D;
//背景色主色调、文字副色调、
@bgColor: #F24429;

//计算宽度
.calc-width(@num) {
  width: -moz-calc(@num);
  width: -webkit-calc(@num);
  width: calc(@num);
}

//过渡
.transition(@attr,@time) {
  transition: @attr @time;
  -moz-transition: @attr @time; /* Firefox 4 */
  -webkit-transition: @attr @time; /* Safari 和 Chrome */
  -o-transition: @attr @time; /* Opera */
}

//边框圆角
.radius(@size){
  -webkit-border-radius: @size;
  -moz-border-radius: @size;
  border-radius: @size;
}

//阴影
.boxshadow(@h-shadow,@v-shadow,@blur,@color,@spread:0) {
  -moz-box-shadow: @h-shadow @v-shadow @blur @spread @color; /* 老的 Firefox */
  box-shadow: @h-shadow @v-shadow @blur @spread @color;
}

//内阴影
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0,@red:0,@green:0,@blue:0, @alpha: 0.25) {
  -webkit-box-shadow: inset @x @y @blur @spread rgba(@red, @green, @blue, @alpha);
  -moz-box-shadow:    inset @x @y @blur @spread rgba(@red, @green, @blue, @alpha);
  box-shadow:         inset @x @y @blur @spread rgba(@red, @green, @blue, @alpha);
}

//透明度
.opacity(@float,@ints) {
  -moz-opacity: @float;
  opacity: @float;
  filter: alpha(opacity=@ints);
}

//文本阴影
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
  text-shadow: @string;
}

//缩放
.scale (@factor) {
  -webkit-transform: scale(@factor);
  -moz-transform:      scale(@factor);
  -ms-transform:       scale(@factor);
  -o-transform:        scale(@factor);
  transform:           scale(@factor);
}

//旋转
.rotate (@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform:      rotate(@deg);
  -ms-transform:       rotate(@deg);
  -o-transform:        rotate(@deg);
  transform:           rotate(@deg);
}

//2d 位移
.translate (@x, @y:0) {
  -webkit-transform:       translate(@x, @y);
  -moz-transform:      translate(@x, @y);
  -ms-transform:       translate(@x, @y);
  -o-transform:        translate(@x, @y);
  transform:           translate(@x, @y);
}

//3d位移
.translate3d (@x, @y: 0, @z: 0) {
  -webkit-transform:       translate3d(@x, @y, @z);
  -moz-transform:      translate3d(@x, @y, @z);
  -ms-transform:       translate3d(@x, @y, @z);
  -o-transform:        translate3d(@x, @y, @z);
  transform:           translate3d(@x, @y, @z);
}
//禁止选中文本
.disable-select(@str) {
  -webkit-touch-callout: @str;
  -webkit-user-select: @str;
  -khtml-user-select: @str;
  -moz-user-select: @str;
  -ms-user-select: @str;
  user-select: @str;
}

//渐变
.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}
//选项卡样式
.tab-comm (@tab_width: 960px,@border_color: #ccc,@tab_box_bg: #fff,@tab_bg: #EEE,@selectedBg: #fff,@selectedColor: #333,@selectedBm: @tab_box_bg) {
  .tab{
    width: @tab_width;
    margin: 0 auto;

    .tab_menu,.tab_box {
      width: 100%;
      border-left: 1px solid @border_color;
    }

    .tab_menu {
      ul {

        border-bottom: 1px solid @border_color;

        li {
          padding: 0 15px;
          float: left;
          border: 1px solid @border_color;
          margin-right: 15px;
          margin-bottom: -1px;  /*避免父元素ul的下边框覆盖当前li的下边框*/
          cursor: pointer;
          overflow: hidden;
          background: @tab_bg;
          &:first-child {
            border-left: none;
          }
          &.selected {
            background: @selectedBg;
            color: @selectedColor;
            border-bottom: 1px solid @selectedBm;
          }
        }
      }
    }

    .tab_box {
      word-wrap:break-word;
      word-break:break-all;
      border: 1px solid @border_color;
      border-top: none;
      background: @tab_box_bg;
    }

  }
}

.h-style {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #bbb;
  font-size: 16px;
  background: #fff;
  &:before {
    content: '';
    display: block;
    width: 5px;
    height: 60%;
    position: absolute;
    background: #E15782;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .highlight {
    color: #E15782;
  }
}
.pl15 {
  padding-left: 15px;
}
.pl30 {
  padding-left: 30px;
}
.pr30 {
  padding-right: 30px;
}
.see-more {
  float: right;
  color: #525252;
}
.share-wrap {
  position: absolute;
  left: 384px;
  top: -8px;
}

/*=====头部 begin=====*/
.container-top-wrap {
  height: 42px;
}
.background-layer {
  width: 1200px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0) url(../image/cnhk.png) no-repeat scroll 0% 0%;
  height: 280px;
  display: block;
}
.header-body-wrap {

}
.nav-body-wrap {
  position: relative;
}
.head-wrap {
  position: fixed;
  z-index: 500;
  width: 100%;
  top: 0;
  left: 0;
  _position: absolute;
  background-color: #a6926c;
  color: #fff;;
  height: 42px;
  .boxshadow(0,1px,0,rgba(0,0,0,.2));
  .head {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    line-height: 42px;
    .welcome {
      float: left;
    }
  }
  .login-reg-wrap {
    float: right;
    font-size: 14px;
    .logout {
      margin: 0 0 0 10px;
      font-size: 12px;
      color: #ccc;
      &:hover {
        color: #fff;
      }
    }
  }

  .login-btn,
  .reg-btn {
    color: #ccc;
    .transition(color,0.5s);
    margin: 0 0 0 10px;
    &:hover {
      color: #fff;
    }
  }
  /*=====搜索=====*/
  .search-wrap {
    float: left;
    .search-ul {
      margin: 0;
      height: 100%;
      li {
        float: left;
      }
    }
    .search {
      margin: 0 0.25em 0 0;
    }
    .a-search:before {
      position: absolute;
      margin: auto;
      right: 0;
      text-indent: 0;
      width: inherit;
      text-align: center;
      cursor: pointer;
    }
    .a-search,
    .search-form {
      position: relative;
      float: left;
    }
    .a-search {

      display: block;
      overflow: hidden;
      width: 2em;
      height: 100%;
      font-size: 1.25em;
      text-indent: -10em;
      &:hover {
        .opacity(0.8,80);
      }
    }
    .search-input {
      font-size: 0.75em;
      max-width: 0;
      width: 105px;
      height: 26px;
      border: none;
      border-radius: 2px;
      padding: 0 5px 0 5px;
      background-color: rgba(255,255,255,.25);
      color: #333;
      .opacity(0,0);
      .transition(all,0.5s);
    }
  }
  /* search begin */
  .search-input.search {
    max-width: 96em;
    .opacity(1,100);
  }

  .search-input.search.search-error {
    border: 1px solid red;
  }
  /* search end*/
  /*=====搜索=====*/
}
/*=====头部 end=====*/
/*=====导航 begin=====*/
.nav-wrap {
  margin-top: 25px;
  padding: 5px 0;
}
.nav {
  width: 1200px;
  margin: 0 auto;
  li {
    display: inline-block;
    &.actived {
      a {
       color: #000;

      }
    }
    a {
      display: block;
      padding: 5px 20px 0 0;
      color: #fff;
      font-weight: bold;
      font-size: 14px;
      .transition(all,0.3s);
      &:hover {
        color: #000;
      }
    }
  }
}
.site-description {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  position: relative;
  .site-title {
    font-weight: normal;
    font-size: 16px;
    a {
      color: #8c8262;
      font-size: 28px;
      .text-shadow(1px 1px 1px rgba(0,0,0,0.2));
    }
  }
  .type-print {
    position: relative;
    color: #8c8262;
  }
  .site-care {
    margin: 17px 0 0 0;
    .text-shadow(1px 1px 1px rgba(0,0,0,0.2));
    font-size: 14px;
  }
}
/*=====导航 end=====*/
/*=====尾部 begin=====*/
.footer-wrap {
  background: #141414;
  .content-wrap {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 10px 0;
  }
  .copyright {
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
  }
}
/*=====尾部 end=====*/
//设置文章详情页面图片的显示
.article-detail-content img {
  vertical-align: bottom;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
/*=====布局类 begin=====*/
.layer-wz {
  width: 1200px;
  margin: 0 auto;
}
.layer-left-wz {
  width: 840px;
  float: left;
  margin: 0 30px 0 0;
}
.layer-aside-wz {
  width: 300px;
  float: right;
}
/*=====设置页脚紧贴底部的方法 bengin=====*/
body {
  font-family: punctuation,"PingFangSC-Regular","Microsoft Yahei","sans-serif";
  -webkit-font-smoothing: subpixel-antialiased;

  /*在ie中会忽略flex中的min-height*/

  color: #403e3b;
  overflow-x: hidden;
  background-image: url(../image/bgimg_top.jpg);
  background-repeat: repeat;
}
.background-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
  background-image: url(../image/dh.jpg);
}
main {
  flex: 1 0 auto;
}
header,
footer {
  flex-shrink: 0;
}
/*=====设置页脚紧贴底部的方法 end=====*/
/*=====布局类 end=====*/
/* 评论回复 begin */
.comments-wrap {
  text-align: left;
  .comments-all {
    padding-left: 0;
  }
}
.comments-head {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  a {
    color: #999;
  }
  .comments-number {

    display: inline;
    border: 1px solid #ccc;
    background-color: rgba(0,0,0,0.04);
    padding: 0 5px;
    height: 25px;
    line-height: 25px;
    .radius(5px);
    .highlight {
      color: #d32;
    }
  }
  .comments-sort {
    float: right;
    a {
      padding: 0 4px;
      margin: 0 2px;
      &.current {
        color: #d32;
      }
    }
  }
}
.comments {
  padding: 10px 0 5px 10px;
  border-top: 1px solid rgba(0,0,0,0.13);
  .user {
    width: 50px;
    height: 50px;
    img {
      .radius(50%);
    }
    float: left;
  }
  .comment-body {
    height: auto;
    padding-left: 50px;
    .comment-name {
      >a {
        color: #F7AF57;
        .reply_text {
          color: black;
        }
      }
      font-size: 12px;
    }
    .comment-content {
      font-size: 14px;
      margin: 0;
      padding: 4px 0;
    }
  }
  .comment-footer {
    font-size: 14px;
    a {
      color: #999;
      &:hover {
        color: #555;
      }
    }
    .icon-reply {
      margin-right: 3px
    }
  }
}
.comment-childs {
  margin-left: 38px;
  .user {
    img {
      width: 30px;
      height: 30px;
    }
  }
}
.comments-pages-wrap {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  border-top: 1px solid rgba(0, 0, 0, 0.13);
  padding: 15px 0;
  ul {
    float: right;
    li {
      float: left;
      margin: 0 3px;
      a {
        border: 1px solid transparent;
        color: #777;
        &:hover,
        &.current-page {
          .radius(3px);
          background-color: rgba(0,0,0,0.03);
        }
        &.current-page {
          color: #d32;
          border: 1px solid #ccc;
        }
        padding: 2px 5px;
        font-size: 12px;
      }
    }
  }

}
.declare-comment-wrap {
  width: 670px;
  color: #333;
  margin: 5px 0 0 0;
  h3 {
    color: #444;
    font-size: 12px;
    margin-bottom: 15px;
  }
  p {
    margin: 0 0 10px;
    input {
      height: 25px;
    }
  }
  .declare-btn {
    float: left;
    width: 72px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    font-family: Tahoma;
    color: #fff;
    border: 1px solid #E3A355;
    background-color: #F7AF57;
    &:hover {
      .gradient(#F2AB55,#E99C3C);
    }
  }
}
/* 评论回复 end */
/*=====iconfont样式 begin=====*/
.iconfont-wrap {
  color: #888;
  &:hover {
    color: #333;
  }
}
/*=====iconfont样式 end=====*/
/*=====分页 begin=====*/
.pages {
  margin: 20px 0;
  .page-wrap {
    float: right;
  }
  .page {
    float: left;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: #fff;
    border: 1px solid #E3A355;
    text-align: center;
    .radius(2px);
    &>span {
      color: #888;
      font-size: 14px;
    }
  &>a {
    display: block;
    width: 100%;
    height: 100%;
    color: #888;
    font-size: 14px;
    &.active {
      color: #fff;
      background-color: #b3a57d;
      cursor: default;
    }
  }
  }
}
/*=====分页 end=====*/
.more {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: right;
  color: #99958d;
  cursor: pointer;
}
.border {
  border: 1px solid #fff;
}
.marginb {
  margin-bottom: 10px;
}

/*=====选择文件按钮美化 begin=====*/
.choose-file {
  position: relative;
  width: 98px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  .new-file-btn,
  input[type='file'] {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
  }
  .new-file-btn {
    text-align: center;
    color: #000;
    background: #EDEDED;
    z-index: 1;
  }
  input[type='file'] {
    opacity: 0;
  }
}
/*=====选择文件按钮美化 end=====*/

/*=====进度条 begin=====*/
#progressbar{
  position: relative;
  height:20px;
  width:300px;
  border:1px solid #63B8FF;
  border-radius:5px;
  text-align:center;
  line-height:20px;
  font-size:0.8em;
}
#progress{
  position:absolute;
  /*  border:1px solid;*/
  height:100%;
  width:0;
  background:#BFEFFF;
  border-radius:5px;
}
#progress{
  background-size: 30px 30px;
  background-image: -webkit-linear-gradient(-45deg, #63B8FF,#63B8FF 25%, #BFEFFF
  25%,#BFEFFF 50%, #63B8FF 50%, #63B8FF 75%, #BFEFFF 75%, #BFEFFF);
  background-image: -moz-linear-gradient(-45deg, #63B8FF,#63B8FF 25%, #BFEFFF
  25%,#BFEFFF 50%, #63B8FF 50%, #63B8FF 75%, #BFEFFF 75%, #BFEFFF);
  background-image: linear-gradient(-45deg, #63B8FF,#63B8FF 25%,#BFEFFF
  25%,#BFEFFF 50%, #63B8FF 50%, #63B8FF 75%, #BFEFFF 75%, #BFEFFF);
  -webkit-animation: animate 1.5s linear infinite;
  -moz-animation: animate 1.5s linear infinite;
  animation: animate 1.5s linear infinite;
}
@-webkit-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}
@-moz-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}
@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}
/*=====进度条 end=====*/
.new-style-title {
  height: 44px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #e0dbd1;
  font-size: 13px;
  font-weight: 700;
  padding: 0 14px 0;
  line-height: 44px;
  background-color: #f8f6f2;
}
.new-style-content {
  padding-top: 20px;
}
.need-login {
  font-size: 14px;
  line-height: 30px;
}
.nologin {
  color: #E3A355;
}
.nodata {
  color: #ccc;
  font-size: 14px;
}
//tooltip样式
#tooltip {
  position: absolute;
  max-width: 200px;
  background: #9e8c5f;
  color: #fff;
  margin-left: -40px;
  margin-top: 28px;
  z-index: 9999;
  box-shadow: 0 0 5px #666;
  border-radius: 4px;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 20px;
}
//正三角形
#tooltip:after {
  content: "";
  border-style: solid;
  border-width: 8px;
  border-color: transparent transparent #9e8c5f transparent;
  position: absolute;
  top: -16px;
  left: 20%;
}
.cursor-default {
  cursor: default;
}