@import "comm.less";
.main {
  width: 1200px;
  margin: 15px auto 0;

}
.article-list-wrap {
  float: left;
  width: 862px;
  overflow: hidden;
}
.article {
    margin: 20px 0 0 0;
    padding: 20px;
    background: #f1f1f1;
  .article-title {
    font-size: 16px;
    margin: 0 0 10px 0;
    a {
      color: #272A30;
    }
  }
}
.article-summary-wrap {
    height: 200px;
    .article-img-wrap {
      display: block;
      width: 208px;
      height: 108px;
      overflow: hidden;
      float: left;
      margin-right: 15px;
      img {
        display: block;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
      }
    }
  .article-content {
    text-indent: 2em;
    line-height: 30px;
    font-size: 14px;
  }
  .read-more {
    position: relative;
    top: 0;
    float: right;
    display: block;
    color: #fff;
    background: rgba(225,87,130,0.6);
    .transition(all,0.3s);
    padding: 5px 10px;
    &:hover {
      background: rgba(225,87,130,1);
    }
  }
}
.article-footer-wrap {
  margin: 15px 0 0 0;
  span {
    &:not(:last-child) {
      margin: 0 20px 0 0;
    }
  }
  .article-type {
    float: right;
    a {
      color: #666;
    }
  }
}
.article-relation-wrap {
  width: 300px;
  float: right;
  margin: 0 0 0 38px;
}
.article-type-wrap {
  .type {
      float: left;
      width: 90px;
      height: 90px;
      line-height: 90px;
      text-align: center;
      margin: 0 10px 10px 0;
      background: #71a532;
      color: #fff;
    &:nth-child(1){
      background: #a98659;
    }
    &:nth-child(2){
      background: #8c49ad;
    }
    &:nth-child(3){
      background: #e7769e;
    }
    &:nth-child(4){
      background: #ff9900;
    }
    &:nth-child(5){
      background: #63B6F7;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
    }
  }
}
.article-tags {
    .tag {
      display: inline-block;
      padding: 6px 15px;
      color: #666;
      background: #fafafa;
      .radius(4px);
      .boxshadow(0,0,3px,#bbb);
      margin: 0 0 10px 0;
    }
}
.article-hot-random{
  .hot-random-wrap {
    padding-bottom: 20px;
    i {
      vertical-align: baseline;
    }
    li {
      height: 36px;
      line-height: 36px;
    }
    a {
      color: #525252;
      margin: 0 0 0 10px;
    }
  }
}
.article-archive {
  .archive-wrap{
    width: 297px;
  }
  li {
    float: left;
    margin: 0 10px 5px 10px;

    a {
      color: #525252;
    }

  }
}

