@import "comm.less";
.mood-wrap {
  width: 1200px;
  margin: 20px auto 20px;
  background: #fff;
  padding: 15px 0;
}
.moods {
  position: relative;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background: #eee;
    content: "";
  }
  &:before {
    left: 164px;
  }
  &:after {
    left: 1130px;
  }
  padding: 10px 0;
  li {
    position: relative;
    padding: 8px 0;
    &:hover {
      &:before {
        .scale(1.5);
      }
      &:after {
        background: #FE5187;
        .scale(1.5);
      }
    }
    &:before {
      position: absolute;
      top: 37px;
      bottom: 0;
      right: 63px;
      height: 12px;
      width: 12px;
      content: '';
      background: #fff;
      .radius(6px);
      .boxshadow(0,0,2px,#FE5187);
      z-index: 1;
    }
    &:after {
      position: absolute;
      top: 39px;
      bottom: 0;
      right: 65px;
      background: #ccc;
      height: 8px;
      width: 8px;
      z-index: 1;
      .radius(6px);
      content: '';

    }
    .time {
      float: left;
      position: relative;
      margin: 25px 0 0 15px;
      color: #888;
      font-size: 14px;
      padding: 0 5px;
    }
    .user-img {
      float: right;
      .radius(50%);
      margin: 15px 10px 0 0;
    }
    &:hover {
      .time {
        background: rgba(255,255,255,0.6);
        color: #FE5187;
      }
      .mood-content:after{
        background: #FE5187;
        .scale(1.5);
      }
      .mood-content:before {
        .scale(1.5);
      }
    }
    em {
      float: left;
      width: 50px;
      height: 10px;
      background: url(../image/line.png) no-repeat;
      margin: 30px 0 0 27px;
    }
  }
  .mood-content {
    position: relative;
    &:before {
      position: absolute;
      top: 28px;
      bottom: 0;
      left: -42px;
      height: 12px;
      width: 12px;
      content: '';
      background: #fff;
      .radius(6px);
      .boxshadow(0,0,2px,#FE5187);
    }
    &:after {
      position: absolute;
      top: 30px;
      bottom: 0;
      left: -40px;
      background: #ccc;
      height: 8px;
      width: 8px;
      .radius(6px);
      content: '';

    }
    margin: 0 150px 0 200px;
    color: #333;
    border: 1px solid #ddd;
    .boxshadow(0,0,10px,#000);
    background-color: #f1f1f1;
    .radius(4px);
    padding: 20px 30px 10px;
    min-height: 50px;
    letter-spacing: 1px;
  }
  .mood-footer {
    text-align: right;
    span {
      margin: 0 10px;
    }
    a {
      color: #333;
      font-size: 14px;
      &:hover {
        color: #FE5187;
      }
    }
  }
}